<app-header></app-header>


<ion-content>

    <ion-card>
        <ion-card-content>
            <ion-title class="ion-text-center">Inicio de Sesión</ion-title>

            <form [formGroup]="formularioLogin" (ngSubmit)="botonIngresar()">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input type="text" formControlName="correo" matInput placeholder="Correo">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input type="password" formControlName="contrasena" matInput placeholder="Contraseña">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="ion-text-center">
                            <button type="submit" class="full-width" mat-raised-button color="accent">Ingresar</button>
                            <div class="ion-margin-top">
                                <button (click)="botonGoogle()" type="button" class="full-width" id="boton-google" mat-raised-button
                                    color="warn">Ingresar con Google</button>
                            </div>
                         <!--    <button type="button" mat-raised-button color="primary"
                                (click)="obtenerUsuario()">USUARIO</button> -->
                        </ion-col>

                    </ion-row>

                    <div class="ion-text-center ion-margin-top">
                        ¿No tienes una cuenta? <a routerLink="/sign-up">Regístrate</a>
                    </div>


                </ion-grid>

            </form>

        </ion-card-content>
    </ion-card>
</ion-content>