<app-header></app-header>

<ion-content>
    <ion-tabs>

        <ion-tab-bar slot="bottom">

            <ion-tab-button class="ion-text-center" tab="perfil">
                <ion-icon name="person"></ion-icon>
                <ion-label class="tab-btn-text">Perfil</ion-label>
            </ion-tab-button>

            <ion-tab-button class="ion-text-center" tab="agregar">
                <ion-icon name="camera"></ion-icon>
                <ion-label class="tab-btn-text">Agregar</ion-label>
            </ion-tab-button>

            <ion-tab-button class="ion-text-center" tab="listar">
                <ion-icon name="list"></ion-icon>
                <ion-label class="tab-btn-text">Listar</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>
</ion-content>